/*
	TODO: some CSS type stuff.
*/

body{
	background-color: #dddddd
}
h1{
  background-color: #666666
}
#projectSelect{
  text-align:center;
  margin-top:20%
}
.line{
  margin-bottom:15px
}
#idSelect,#selectProject,#textfield,#findProject{
  font-size:200%
}
#projectControls{
	display: none;
}
#controlBox{
	width: 35%;
        margin-bottom:20px;
	float: left;
}
#editDesc{
        width:65%;
	display: none;
	float: left;
}
#showDesc{
	width:65%;
	float:left;
	height:10px;
	display:block
}
#titleAndDesc{
	display:inline-block;
	width:40%;
	float:left;
}
#dataAndHolder{
	display:inline-block;
	width:60%;
	float:left
}
#nodeTitle{
  margin-bottom:30px;
  display:block
}
#nodeTitle,#descText{
  border:none
}
.button{
  padding:5px;
  background-color: #333333;
  border: 1px solid #666;
  color:#eeeeee;
  cursor: pointer;
  text-align: center;
  border-radius: .5em;
  text-decoration:none;
}
#canvasPanel{
  display:none;
  margin:0px auto;
  text-align:center
}

#mainCanvas{
  display: inherit;
  clear: both;
