/* copied from http://www.red-team-design.com/
   how-to-create-slick-effects-with-css3-box-shadow */
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}

body {
	background-color: #dddddd;
}

/* for some reason, specify the font in body doesn't always get to children
 * (e.g. buttons, etc.). Therefore, add them to the font class and they'll
 * get the right font. */
input,textarea,body {
    font-family: Impact, Charcoal, sans-serif;
}

#content {
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    background-color: #FFFFF0;
    font-size: 48px;
    text-align: center;
    margin: 0.4em;
    padding: 10px;
    box-shadow: 0px 5px 5px -5px #000;
    border-radius: 15px;
    text-shadow: 0px 1px 3px #fff;
}

#projectSelect {
    text-align:center;
    margin-top:20%;
}

.line {
    margin-bottom:15px;
}
#findForm{
	position:relative;
}
#textfield{
    font-size:200%;
}
#findProject{
	position:absolute;
	cursor:pointer;
	width:32px;
	height:32px;
	padding:0px;
	margin-left:10px;
	border:none;
	background-image:url("./search.png")
}
#projectControls {
	display: none;
}

#controlBox {
	width: 20%;
	float: left;
	margin:0px 20px
}

#editDesc {
	display: none;
	float: left;
    padding: 10px;
}

#showDesc {
	width:65%;
	float:left;
	height:10px;
	display:block
}

#titleAndDesc {
	display:inline-block;
	width:40%;
	float:left;
}

#dateAndHolder {
	display:inline-block;
	width:55%;
	margin-left:25px
}

#nodeTitle {
    display:block;
}

#nodeTitle,#descText,.clear {
    border:none;
}
#descText{
		height:100px;
}
#descText,#nodeTitle{
		margin-bottom:5px;
		margin-right:15px;
		width:100%;
		padding:5px;
}

.button {
    display:block;
    padding:5px;
    margin: 5px;
    background-color: #333333;
    border: 1px solid #666;
    color:#eeeeee;
    cursor: pointer;
    text-align: center;
    border-radius: .5em;
    text-decoration:none;
    box-shadow: 0px 3px 2px -2px #000;
    text-shadow: 0px 2px 2px -1px #fff;
}

/* to resize the canvas, resize this */
#canvasPanel {
    display:block;
    text-align:center;
    height: 300px;
}

#mainCanvas {
    display: inherit;
    clear: both;
    box-shadow: 0px 8px 2px -5px #000;
}

.selected {
    background-color: #666;
}
